
.title{
  direction: rtl;
  font-size: 40px;
  font-family: serif;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4) ;
  color: white;
}
.vline1{
  border-left: 1px solid white;
  height: 700px;
  position: absolute;
  left: 7px;
  margin-top: 9px;
  top: 0px;
}
.vline2{
  border-right: 1px solid white;
  height: 700px;
  position: absolute;
  right: 7px;
  margin-top: 9px;
  top: 0;
}
.vline3{
  border-right: 1px solid white;
  height: 598px;
  position: absolute;
  right: 250px;
  margin-top: 110px;
  top: 0;
}
.vline4{
  border-right: 1px solid white;
  height: 598px;
  position: absolute;
  right: 925px;
  margin-top: 110px;
  top: 0;
}
.bottomline{
  border-bottom: 1px solid white;
  width: 1522px;
  height: 47px;
  position: absolute;
  right: 7px;
  margin-top:527px;
}
#container1 {
  direction: rtl;
  position: absolute;
  right: 3px;
  margin-top:-27px;
  font-family: serif, Arial, Times;
}
.button {
  display: inline-block;
  border: 1px solid black;
  background-color: #282c34;
  color: #000000;
  text-align: right;
  font-size: 18px;
  font:serif;
  padding: 25px;
  width: 242px;
  transition: all 0.1s;
  cursor: pointer;
  margin: 5px;
  position:absolute;
  font-family: serif, Arial, Times;
  
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#button2{
  background-color: #282c34;
  top: 72px;
}
#container2{
  direction: rtl;
  position: absolute;
  right: 255px;
  top: 125px;
  font-size: 39px;
  font-family: serif, Arial, Times;
  font-weight: normal;
  margin-top: 5px;
}
#container3{
  direction: rtl;
  position: absolute;
  right: 255px;
  top: 95px;
  font-size: 40px;
  font-family: serif, Arial, Times;
  font-weight: normal;
  color: white;
}

.person_button{
  margin: auto 5px;
  text-align: right;
  font-size: 18px;
  padding-bottom: 25px;
  width: 650px;
  height: 60px ;
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
  background-color: #282c34;
  color: black;
  font-family: serif, Arial, Times;
}

.book_button{
  margin: auto 10px;
  border: 1px solid black;
  text-align: right;
  font-size: 16.5px;
  padding-bottom: 0px;
  width: 652px;
  height: 100px ;
  margin-bottom: 10px;
  background-color: #282c34;
  display:block;
  font-family: serif, Arial, Times;
}


.book_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.book_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 40px;
  right: -40px;
  transition: 0.5s;
  font-size: large;

}

.book_button:hover span {
  padding-right: 25px;
}

.book_button:hover span:after {
  opacity: 1;
  right: 0;
}



.myimage{
  margin-top:  4px;
  float: left;
  width: 80px;
  height: 88px;
}

.delete_button{
  margin: auto 5px;
  background-color: #d80e00; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  float: left;
  transition: 0.25s;
  font-family: serif, Arial, Times;
}

.delete_button span {
  transition: all 0.3s;
}
.delete_button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: red;
  border-bottom-color: red;
  transform: scale(0.1, 1);
}

.delete_button span{
  position: relative;
  z-index: 2;
}

.delete_button:after{
  position: absolute;
  content: "";
  top: 4px;
  left: 2px;
  width: 0;
  height: 86.5%;
  background: red;
  transition: all .6s;
}

.delete_button:hover{
  color: #fff;
}

.delete_button:hover:after{
  width: 47.5%;
}



.update_button{
  background-color: grey; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  float: left;
  font-family: serif, Arial, Times;

}

.update_button span {
  transition: all 2s;
}
.update_button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: red;
  border-bottom-color: red;
  transform: scale(0.1,1);
  font-family: serif, Arial, Times;
}

.update_button span{
  position: relative;
  z-index: 1;
}

.update_button:after{
  position: absolute;
  content: "";
  top: 4px;
  left: 95px;
  width: 0;
  height: 86.5%;
  background: black;
  transition: all 0.6s;
  
}

.update_button:hover{
  color: #fff;
}

.update_button:hover:after{
  width: 49.1%;
}

.add_person_btn {
  background-color: #61dafb;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #20232a;
  cursor: pointer;
  display: inline-block;
  font-family: serif, Arial, Times;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  position: absolute;
  right: 70%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 21px;
  margin: 4px 2px;
  width: 190px;
  top: -4px;
}


.add_person_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.add_person_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.add_person_btn:hover span {
  padding-right: 25px;
}

.add_person_btn:hover span:after {
  opacity: 1;
  right: 0;
}

#individual_person_container{
  margin: auto 10px;
  border: 1px solid black;
  text-align: right;
  padding-bottom: 0px;
  width: 575px;
  height: 97px ;
  margin-bottom: 10px;
  background-color: #282c34;
  color: white;
  position: relative;
  top: 71px;
  font-size: 27px;
  font-family: serif, Arial, Times;
  font-weight: normal;
  
}

#stop_lending_to_person{
  margin: auto 5px;
  background-color: red; /* Red */
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  top: -13px;
  border-radius: 3px;
  float: left;
  transition: 0.3s;
}

#stop_lending_to_person:hover{
  transform: translateY(-4px);
  box-shadow: 5px 10px grey;
}



#lend_book_choose_person{
  background-color: #61dafb;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #20232a;
  cursor: pointer;
  display: inline-block;
  font-family: serif, Arial, Times;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  position: absolute;
  right: 430px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  margin: 4px 2px;
  width: 162px;
  top: 9px;
}


#lend_book_choose_person span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

#lend_book_choose_person span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#lend_book_choose_person:hover span {
  padding-right: 25px;
}

#lend_book_choose_person:hover span:after {
  opacity: 1;
  right: 0;
}

#button_person{
  margin: auto 5px;
  border: 1px;
  text-align: right;
  font-size: 18px;
  padding-bottom: 25px;
  width: 650px;
  height: 90px ;
  margin-top: 25px;
  margin-bottom: -15px;
  background-color: white;
  border: 1px solid black;
  font-size: 29px;
  font-family: serif, Arial, Times;
  font-weight: normal;

}

#button_person span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

#button_person span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 13px;
  right: -20px;
  transition: 0.5s;
}

#button_person:hover span {
  padding-right: 25px;
}

#button_person:hover span:after {
  opacity: 1;
  right: 0;
}

#person_buttons{
  position: absolute;
  margin-top: 40px;
  float: left;
  right: 70%;
}
#individual_book_container{
  margin: auto 10px;
  border: 1px solid black;
  text-align: right;
  padding-bottom: 0px;
  width: 575px;
  height: 80px ;
  margin-bottom: 10px;
  background-color: #282c34;
  color: white;
  position: relative;
  top: 62px;
  right: 0px;
  font-size: 29px;
  font-family: serif, Arial, Times;
  font-weight: normal;
}

#lend_person_choose_book{
  background-color: #61dafb;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #20232a;
  cursor: pointer;
  display: inline-block;
  font-family: serif, Arial, Times;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  position: absolute;
  right: 1355px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  margin: 4px 2px;
  width: 162px;
  top: 120px;
}

#lend_person_choose_book span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

#lend_person_choose_book span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#lend_person_choose_book:hover span {
  padding-right: 25px;
}

#lend_person_choose_book:hover span:after {
  opacity: 1;
  right: 0;
}
