{% extends 'layout.html' %}
{%block title %}
    <title> הספריה</title>	
{%endblock%}
{%block header %}
    <h1 class = "title">הוסף משתמש<h1>
{%endblock%}
{%block body%}
<form action="{% url 'add_person' %}" method="POST">
    {% csrf_token %}
    <input class="person_id" type="text" name="person_id" placeholder="תעודת זהות">
    <br>
    <input class="first_name" type="text" name="first_name" placeholder="שם פרטי">
    <br>
    <input class="last_name" type="text" name="last_name" placeholder="שם משפחה">
    <br>
    <input type="submit" value="שלח">
</form>
{%endblock%}
