
<!DOCTYPE html>
<html lang="en">

    <head>
		<title> הספריה</title>	
		{% load static %}
		<link rel = "stylesheet" href = {% static 'CSS\mystyle.css' %} >
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    </head>
        <body>
        <hr>
        <h1 class = "title">הספריה<h1>
        <hr>
        <h1 class = "layout">
            <h1 class = "vline1"><h1>
            <h1 class = "vline2"><h1>
            <h1 class = "bottomline"><h1>
            <h1 class = "vline3"><h1>
            <h1 class = "vline4"><h1>
        <h1>
			
        <div id="container1">
            <button data-page="container2" class="button" id = "button1" style="vertical-align:middle"><span>ניהול משתמשים </span></button>
            <button data-page="container3" class= "button" id = "button2"style="vertical-align:middle"><span>ניהול ספרים </span></button>
        </div>  

        <div id="container2">
            רשימת המשתמשים
            <a href="/add_person"><button class="add_person_btn" >הוסף משתמש</button></a>
            <br>
            {% for person in Persons %}
                <div class="">
                    <h2 id = "person_buttons">
                        <button class="delete_button" onclick = "confirmDelete({{person.person_id}})">מחק</button>
                        <a href="/update_person/{{person.person_id}}"><button class="update_button" >ערוך</button></a>
                    </h2>
                    <div class = "classsome">
                    <button data-page="container_person{{person.person_id}}" id ="button_person">{{ person.first_name}} {{person.last_name}}
                        <br>
                        {{person.person_id}}
                    </button>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class = "person_containers">
            {%for person in Persons%}
                <div class = "container_person{{person.person_id}}">
                    <h2 style = "direction: rtl;position: absolute;right: 925px;top: 90px;font-size: 30px;font-family: Arial, Times, serifs;font-weight: normal;"
                        >רשימת הספרים של {{person.first_name}} {{person.last_name}}
                        <br>
                    </h2>
                    <a href = "/lend_person_choose_book/{{ person.person_id }}">
                        <button id = "lend_person_choose_book">
                            השאל ספר
                        </button>
                    </a>

                    {%for lend in Lends%}
                        {% if lend.person.person_id ==  person.person_id%}
                            <h4 id = "individual_book_container">
                                {{ lend.book.title }}
                                <br>
                                עותקים: {{ lend.book.num_copies }},
                                    סופר: {{lend.book.author}}
                                {%if lend.is_currently_lending%}
                                    <a href = "/stop_lending_to_person/{{ lend.id }}">
                                        <button id = "stop_lending_to_person">
                                            סיים השאלה
                                        </button>
                                    </a>
                                    <br>
                                {%endif%}
                            </h4>
                           
                        {% endif %}
                    {%endfor%}

                </div>
            {%endfor%}
        </div>

        <div id="container3">
            <p id = "container3_text">רשימת הספרים</p>
                {% for book in Books %}
                <button data-page="container_book{{book.id}}" class="book_button" id = "container_book{{book.id}}">
                    <img src={{book.image_url}} class = "myimage">
                    <h2>{{ book.title }}</h2>
                    <h4>עותקים: {{ book.num_copies }},
                        סופר: {{book.author}}
                    </h4>
                </button>
                {% endfor %}        
        </div>

        <div class = "book_containers">
            {%for book in Books%}
                <div class = "container_book{{book.id}}">
                    <h2 style = "direction: rtl;position: absolute;right: 925px;top: 90px;font-size: 30px;font-family: Arial, Times, serifs;font-weight: normal;"
                        >הקוראים של הספר:
                        <br>
                        {% if book.num_copies > book.count_lending%}
                            <a href = "/lend_book_choose_person/{{ book.id }}">
                                <button id = "lend_book_choose_person">
                                    השאל ספר
                                </button>
                            </a>
                        {% else %}
                            <button onclick = "all_book_lent()" id = "lend_book_choose_person" >
                                השאל ספר
                            </button>
                        {%endif%}
                        {{book.title}}
                    </h2>
                    {%for lend in Lends%}
                        
                        {% if lend.book.id ==  book.id and lend.is_currently_lending%}
                            <h4 id = "individual_person_container">
                                {{ lend.person.first_name}} {{lend.person.last_name}}
                                <br>
                                <a href = "/stop_lending_to_person/{{ lend.id }}">
                                    <button id = "stop_lending_to_person">
                                        סיים השאלה
                                    </button>
                                </a>
                                <br>
                                {{lend.person.person_id}}
                            </h4>
                           
                        {% endif %}
                    {%endfor%}
                </div>
            {%endfor%}
        </div>

        <script src="{% static 'JS\person_button.js' %}" ></script>
		<script src="{% static 'JS\alertMessage.js' %}" ></script>
		<script src="{% static 'JS\singlepage.js' %}" ></script>
		<script src="{% static 'JS\book_button.js' %}" ></script>

    </body>

</html>