
<!DOCTYPE html>
<html lang="en">

    <head>
        {% block title  %}

        {% endblock  %}
		{% load static %}
		<link rel = "stylesheet" href = {% static 'CSS\mystyle.css' %} >
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	</head>
    <body bgcolor = "#20232a" font = "serif">
        {% block header  %}
        
        {% endblock  %}

        <div class = "add_person_box">
        {% block body  %}

        {% endblock  %}
        </div>
        <h1>
    </body>

</html>
