{% extends 'layout.html' %}
{%block title %}
    <title> הספריה</title>	
{%endblock%}
{%block header %}
    <h1 class = "title3">השאל ספר<h1>
{%endblock%}
{%block body%}
<form method="POST">
    {% csrf_token %}
    <select id="combo_box_books" name="book_id" class = "first_name">
      {%for book in Books%}
        {%if book.num_copies > book.count_lending%}
        <option value="{{book.id}}">{{book.title}}</option>
        {%endif%}
        {%endfor%}
    </select>
    <br>    
    <input type="submit" value="שלח" class ="submit_button">
    <input type="button" value="חזור" onclick="history.back(-1)" class = "return_button">

</form>
{%endblock%}
