{% extends 'layout.html' %}
{%block title %}
    <title> הספריה</title>	
{%endblock%}
{%block header %}
    <h1 class = "title">השאל ספר<h1>
{%endblock%}
{%block body%}
<form method="POST">
    {% csrf_token %}
    <label for="combo_box_books">תבחר ספר להשאיל:</label>
    <select id="combo_box_books" name="book_id">
      {%for book in Books%}
        {%if book.num_copies > book.count_lending%}
        <option value="{{book.id}}">{{book.title}}</option>
        {%endif%}
        {%endfor%}
    </select>    
    <input type="submit" value="שלח">

</form>
{%endblock%}
